<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailing System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="container mt-5">
    <h1 class="mb-4">Mailing System</h1>

    <form method="post" class="mb-4">
        <div class="form-group">
            <label for="sender_email">Sender Email:</label>
            <input type="email" class="form-control" name="sender_email" required>
        </div>

        <div class="form-group">
            <label for="receiver_email">Receiver Email:</label>
            <input type="email" class="form-control" name="receiver_email" required>
        </div>

        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" name="message" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Send Email</button>
    </form>

    {% if message %}
        <div class="alert alert-success">
            {{ message }}
            {% set message = None %}  <!-- Clear the message in the template -->
        </div>
    {% endif %}

    <h2 class="mb-3">Users:</h2>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item">{{ user.username }} - {{ user.email }}</li>
        {% endfor %}
    </ul>

    <h2 class="mt-5 mb-3">Messages:</h2>
    <ul class="list-group">
        {% for message in messages %}
            <li class="list-group-item">
                From: {{ message.sender_email }}<br>
                To: {{ message.receiver_email }}<br>
                Content: {{ message.content }}
            </li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
